<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Merck slide sorter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="asset/css/style.css">
    <link rel="stylesheet" href="asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="asset/css/font-awesome.min.css">
    <script src="asset/js/jquery.min.js"></script>
    <script src="asset/js/bootstrap.min.js"></script>
    <script src="asset/js/angular.min.js"></script>

</head>

<body ng-app="myApp">
    <div ng-include="'include/header.html'"></div>
    <!-- HEADER ENDS HERE -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 lgMarginTop noPadding shortPanel">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 noPadding">
                <select  class="selectpicker"  name="catagory" ng-model="data.categoryname" >
                        <option value="">Select Catagory</option> 
                        <option value="General ART">General ART</option>
                        <option value="Triggering">Triggering/ Stimulation</option>
                        <option value="Laboratory">Laboratory</option>
                        <option value="Luteal Phase">Luteal Phase</option>
                    </select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 noPadding">
            <select name="mostRecent">
                <option value="General ART">MOST RECENT</option>
                <option value="Triggering">MOST DOWNLOAD</option>
                <option value="Laboratory">MOST RECENT</option>
            </select>
        </div>
        <div id="custom-search-input">
                <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input class="form-control " ng-model="data" placeholder="search file" type="text">
                        <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="main col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadding ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 smMarginTop">
            <div class="container noPaddingS">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadding smMarginTop" ng-controller="myCtrl">
                    <div class='col-xs-6 col-sm-4 col-md-3 col-lg-3' ng-repeat="data in responseData | filter: data">
                        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadding thumbs'>
                            <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadding '>
                                <button ng-click="cloneImg($event)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                <img class='img-responsive' src="/service/getImage.aspx?Id={{data.slideid}} &type=small" 
                                data-url = "service/getImage.aspx?Id={{data.slideid}}" data-SlideId = "{{data.slideid}}" alt='{{data.slidename}}' ng-click="openInPopup($event)" />
                            </div>
                            <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 catagory'>{{data.categoryname}}</div>
                            <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 pName'>{{data.slidename}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal" ng-controller="myCtrl">
        
        <div class="modal-content">
            <div id="caption"></div>
            <div class="close" ng-click="closePopup()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <img  id="modalImg"/>
            <!-- <div class="footerBar">
                <button><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                <button><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div> -->
        </div>
       
    </div>
    <!-- footer -->
    <div ng-include="'include/footer.html'"></div>
    <!-- footer -->

    <!-- slide tray here-->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadding" ng-controller="myCtrl">
        <div class="slideTray">
            <div class="container noPadding ">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 noPadding"> 
                            <i id="down" class="fa fa-chevron-down" aria-hidden="true"></i>
                            <i id="up" class="fa fa-chevron-up" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 noPadding">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 noPadding clear textRight">
                                <button class="btn" ng-click = "clearImages()">Clear</button>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 noPadding textRight download">
                                
                                <a class="button btn" href="/service/downloadActive.aspx?id=0" target="_parent">Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadding xsMarginTop2" id = "clonedImg">
                        <ul></ul>
                    </div> 
            </div>
        </div>
    </div>
    <!-- slide tray over-->
    
    <script>
        var data = { "command": "getAllPresentation", "service": "UserService" };
        var url = "service/WebService.aspx";
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http) {
            $http.post(url, data)
                .then(function(response) {
                    $scope.responseData = response.data.result;
                    //console.log("response.data.result : "+JSON.stringify(response.data.result))
                });

            $scope.modal = angular.element(document.querySelector('#myModal'));
            $scope.modalImg = angular.element(document.querySelector("#modalImg"));
            $scope.captionText = angular.element(document.getElementById("caption"));

            $scope.openInPopup = function(e) {
                console.log(e.currentTarget.getAttribute("data-url"));
                $($scope.modalImg).attr('src', e.currentTarget.getAttribute("data-url"));
                $($scope.modal).show();//css('display', 'block');
                $($scope.captionText).html(e.currentTarget.alt);
            }

            $scope.closePopup = function(){
                $($scope.modal).hide();   
            }
			
			$scope.cloneImg = function(e){
				var $newDiv = $(e.currentTarget).next().clone();
				var li = $("<li>");
				li.html($newDiv);
				$("#clonedImg ul").append(li);
                var slidId = $newDiv.attr("data-slideid");
                console.log("$newDiv : "+$newDiv.attr("data-slideid"));
                var slideData = {"command":"addUserSlide", "data":{"slideid":slidId},"service":"UserService"};
                $http.post("service/WebService.aspx", slideData)
                .then(function(response) {
                    //$scope.responseData = response.data.result;
                    console.log("response.data.result : "+JSON.stringify(response))
                });
			}
			
			$scope.clearImages = function(){
				$("#clonedImg ul").html("");
			}
			$scope.slideId = [];
			$scope.downloadImages = function(){
                alert(1)
                var downloadData = {"command":"getActiveSlides","data":0,"service":"UserService"};
                $http.get("service/downloadActive.aspx?id=0", downloadData)
                .then(function(response) {
                    //$scope.responseData = response.data.result;
                    console.log("response.data.result : "+JSON.stringify(response))
                });
			}
        });
		
		

        $( "#down" ).click(function() {
        $( ".slideTray" ).animate({ "height": "27px" }, "slow" );
        $( "#down" ).hide();
        $( "#up" ).show();
        });
        $( "#up" ).click(function() {
        $( ".slideTray" ).animate({ "height": "400px" }, "slow" );
        $( "#up" ).hide();
        $( "#down" ).show();
       });

    </script>
</body>

</html>